.login{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 5%;
    flex-direction: column;
    width: 40%;
    height: 60vh;
    border-radius: 1rem;
    border:solid 1px black;
    font-family: caveat;
}
.login > label{
    font-size: 1.3em;
}
.login > input{
    width: 45%;
    height: 8%;
    outline: none;
    border: none;
    padding-left: 2%;
    border-bottom: solid 1px black;
    font-family: caveat;
    font-size: 1.2em;
}
.text_form{
    width: 50%;
    height: 10%;
}
.text_form > a{
    color: black;
}
.text_form > a:hover{
    color: blue;
}
.login > button{
    width: 25%;
    height: 10%;
    border-radius: .4rem;
    font-family: caveat;
    cursor: pointer;
    outline: none;
    border:solid 1px rgb(3, 3, 3);
}