.modal_comprar_producto{
    position:fixed;
    width: 100%;
    height: 100vh;
    top: 4%;
    background-color: white;
    z-index: -2;
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.close_modal_add_cart{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    width: 3%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2em;
}
.contenedor_imagenes_producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 90%;
    overflow: hidden;
}
.contenedor_imagen_principal_producto{
    width: 70%;
    height: 70%;
    /* border: solid 1px black; */
    background-position: center;
    background-size: 55%;
    background-repeat: no-repeat;
    object-fit: contain;
}

.contenedor_imagenes_secundarias_producto{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20%;
}
.sub_imagen_producto{
    width: 12%;
    height: 80%;
    border:solid 1px gray;
    border-radius: .4rem;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: contain;

    background-image: url('../assets/img/chqueta4.png');
    background-position: center;
    background-size: 55%;
    background-repeat: no-repeat;
}

/*parte del texto*/
.contenedor_informacion_producto{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    height: 76%;
    font-family: 'caveat';
}
.contenedor_informacion_producto > a{
    width: 100%;
    text-decoration: none;
    color: black;
}
.texto_nombre_producto ,.texto_precio_producto{
    margin-top: 5%;
    width: 100%;
    height: 8%;
    font-size: 1.5em;
}
.texto_precio_producto{
    color: green;
}
.texto_precio_producto, .formulario_agregar_producto_carrito > label{
    font-size: 1.3em;
}
.formulario_agregar_producto_carrito{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20%;
}
.formulario_agregar_producto_carrito > label{
    width: 80%;
}
.select_talla_producto,.boton_agregar_producto_carrito{
    width: 45%;
    height: 40%;
    border-radius: .3rem;
}
.boton_agregar_producto_carrito{
    background-color: rgb(199, 60, 83);
    border:solid 1px rgb(199, 60, 83);
    color: white;
    cursor: pointer;
}
.boton_agregar_producto_carrito:hover{
    background-color: rgb(223, 93, 115);
    border:solid 1px rgb(223, 93, 115);
}
.descripcion_producto_agregar_carrito{
    text-align: left;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:750px) {
    .contenedor_imagenes_producto {
        width: 80%;
        object-fit: contain;
        background-size: 100%;
    }
    .modal_comprar_producto{
        flex-direction: column;
    }
    .contenedor_informacion_producto {
        width: 65%;
    }
    .formulario_agregar_producto_carrito{
        height: 30%;
    }
}
