@media (max-width:750px) {
    .container-button>button {
        background-size: 75%;
    }

    .profile {
        display: none;
    }

    .panel {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:660px) {
    nav{
        justify-content: space-between;
    }
    nav ul {
        display: none;
    }
    .logo {
        width: 10%;
    }
    .container-button>button {
        background-size: 80%;
    }
    .trolley::before {
        width: 2.5%;
    }
}