<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/animaciones.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/formulario_iniciar.css">
    <link rel="shortcut icon" href="../assets/icons/favicon.png" type="image/x-icon">
    <title>Inciar sesion - jacketStore</title>
</head>

<body>
    <!--menu -->
    <nav>
        <div class="logo"></div>
        <ul>
            <li class="options option_active">HOME</li>
            <li class="options">Sing In</li>
            <li class="options">Sing Up</li>
        </ul>
        <div class="container-button">
            <button class="trolley"></button>
            <!--<button class="profile"></button>-->
        </div>
    </nav>
    <!--formulario iniciar sesion-->
    <form class="login">
        <Label for="input_correo">Correo</Label>
        <input type="email" name="correo" id="input_correo" required placeholder="user email">

        <Label for="input_contrasena">Contraseña</Label>
        <input type="password" name="contrasena" id="input_contrasena" required placeholder="**************">
        <div class="text_form">
            <a href="./registrarse.html">crear cuenta</a>
            <a href="#">olvide mi contraseña</a>
        </div>
        <button class="btn_form iniciar_sesion" type="submit">Iniciar sesion</button>
    </form>
    <!--footer-->
    <footer>
        <p>© 2024, jacketStore@gmail.com </p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../controllers/submit_controller_login.js"></script>
    <script src="../js/redireccionar.js"></script>
</body>

</html>